size(width = 30, height = 30)
    width width px
    height height px

.down
    position absolute
    bottom 50px
    width 100%
    display block
    text-align center
    .icon
        align(both)
        size(100,100)
        fill sec
        animation pulse 1.3s infinite

.icon-arrow-menu
    vertical-align bottom
    size(18,15)
    color sec

#heart
    color #E41515
