---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="post">
        {% include svg-icons.html %}
        <header class="header-post" role="banner">
            {% include header.html %}
        </header>
        {% include menu.html %}
        <section class="post" itemscope itemtype="http://schema.org/WebPage">
            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                {{ content }}
            </article>
            {% include scripts.html %}
        </section>
    </body>
</html>
